<%- include("../partials/header.ejs") %>
    <div class="container">
        <div class="row mt-3 justify-content-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">Deck Details</h4>
                        <% if (currentUser) { %>
                        <a href="/decks/<%= deck.id %>/edit"><button type="button" class="btn btn-success">Edit</button></a>
                        <% } %>
                    </div>
                    <div class="col-6 card-body d-inline-flex justify-content-between">
                        <div>
                            <h5>Usage</h5>
                            <p><%= deck.usage %></p>
                        </div>
                        <div>
                            <h5>Upvotes</h5>
                            <p><%= deck.upvotes %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">Cards</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <a href="/cards/<%= deck.cards.card1id.id %>"><img class="mx-2" src="<%= deck.cards.card1id.image %>"></a>
                            <a href="/cards/<%= deck.cards.card2id.id %>"><img class="mx-2" src="<%= deck.cards.card2id.image %>"></a>
                            <a href="/cards/<%= deck.cards.card3id.id %>"><img class="mx-2" src="<%= deck.cards.card3id.image %>"></a>
                            <a href="/cards/<%= deck.cards.card4id.id %>"><img class="mx-2" src="<%= deck.cards.card4id.image %>"></a>
                            <a href="/cards/<%= deck.cards.card5id.id %>"><img class="mx-2" src="<%= deck.cards.card5id.image %>"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-8">
                <div class="card">
                    <div class="card-header d-flex align-items-center n">
                        <h4 class="mb-0">Notes</h4>
                    </div>
                    <div class="card-body h-100">
                        <p><%= deck.notes %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("../partials/footer.ejs") %>